body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #161517;
  background: rgb(156, 252, 248);
  background: linear-gradient(90deg, rgba(156, 252, 248, 1) 0%, rgba(110, 123, 251, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.main-header {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item:not(:last-child) {
  margin-right: 15px;
}

.nav-link {
  color: inherit;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.title-wrapper {
  text-align: center;
}

.main-photo {
  border-radius: 50%;
}

.main-title {
  font-size: 40px;
  line-height: 32px;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.main-desc {
  color: #fff;
  text-shadow: 1px 1px 2px black;
  font-size: 18px;
}

.section {
  padding: 10px 25px 25px 25px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  margin-bottom: 30px;
}

.section-title {
  font-size: 32px;
}

.contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts-item:not(:last-child) {
  margin-bottom: 15px;
}

.contacts-link {
  text-decoration: none;
  color: inherit;
  position: relative;
  padding-left: 40px;
}

.contacts-link::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../images/email-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contacts-link--github::before {
  background-image: url(../images/github-icon.svg);
}

.contacts-link--codewars::before {
  background-image: url(../images/codewars-icon.svg);
}

.contacts-link--telegram::before {
  background-image: url(../images/telegram-icon.svg);
}

.contacts-link:hover {
  opacity: 0.6;
}